body{
    background-color:	#232b2b!important;
}
#logo{
    width: 80px ;
    height: 80px;
}

.cardui{
    -webkit-box-shadow: 10px 10px 36px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 36px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 36px -9px rgba(0,0,0,0.75);
}
#banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(6,12,34,0.8)0, rgba(6,12,34,0.8)100%),url(photo/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 20px;
}

#headerwhitespace{
    margin-top: 15%;
}
a#aboutBtn{
    border-radius: 50px;
    padding:12px 32px;
    border: 2px solid #3722f8;
    color: #fff;
    transition: 0.5s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    letter-spacing: 1px;
    cursor: pointer;
}
a#aboutBtn:hover{
    background-color: #3722f8;
    color: #fff;
}

/* navigation start register=buy button */
a#buyBtn{
    background-color: #3722f8;
    border: 2px solid#3722f8;
    border-radius: 40px;
    padding:5px 10px;
    color: #fff;
    transition: 0.5s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    letter-spacing: 1px;
    cursor: pointer;
}
a#buyBtn:hover{
    background:transparent;
    color: #fff;
}
a.nav-link{
    color: rgba(202,206,221,0.8);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer ;
}
a.nav-item.active, a.nav-link:hover{
    border-bottom: 2px solid #3722f8;
    transition: 0.5s ease-in-out;
    animation-delay: 0.5s;
}
/* navigation ends */
#banner2{
    width: 100%;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.8)0, rgba(44, 47, 56, 0.8) 100%),url(photo/2.jpg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* navbarscrolled */
.navbar-default.scrolled{
    background-color: rgba(6,12,34,0.9);
}
.slider-item h5{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.8)0, rgba(44, 47, 56, 0.8) 100%)
}
.slider-item p{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.8)0, rgba(44, 47, 56, 0.8) 100%)
   }

   .cd img{
       height:200px; ;
   }
a#cardBtn{
    background-color: #3722f8;
    border: 2px solid#3722f8;
    border-radius: 40px;
    color: #fff;
    transition: 0.5s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    letter-spacing: 1px;
    cursor: pointer;
 }
 a#cardBtn:hover{
    background:transparent;
    color: #fff;
 }

#b_games{
width: 100%;
height: 70vh;
background:linear-gradient(to right bottom, #1d1a17,#ec904a);
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}
a#btn_bgames{
    background-color: #3722f8;
    border: 2px solid#3722f8;
    border-radius: 40px;
    padding:5px 10px;
    color: #fff;
    transition: 0.5s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 30%;
}
a#btn_bgames:hover{
    background:transparent;
    color: #fff;
}
#btext{
    font-size: 30px;
    font-weight: 600;   
    text-align: left;
    margin-top: 25%;
    margin-left: 20%;
    margin-bottom: 30px;;
}
#blog_games{
    width: 100%;
    height: 70vh;
    background:url(photo/apex_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

